/* Цвет основного текста #212121 */
/* Цвет вторичного текста #757575 */
/* Цвет акцента #2196F3 */
/* Цвета лого #000000 #FFFFFF  */
/* Цвет заголовка героя и адреса #FFFFFF */
/* Цвет контактов в футере rgba(255, 255, 255, 0.6); */
/* Цвет шапки #FFFFFF */
/* Цвет основного фона #E5E5E5 */
/* Цвет вторичного фона #F5F4FA */
/* Цвет фона в футере #2F303A */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-fon-color: #f5f4fa;
  --primary-fon-color: #ffffff;
  --shadow: rgba(0, 0, 0, 0.15);
  --time: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Тело */
body {
  background-color: var(--primary-fon-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Remove outline on the forms and links */
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.team {
  background-color: var(--secondary-fon-color);
}
.section.padding-top-none {
  padding-top: 0px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Шапка */
.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}
.container-flex {
  display: flex;
  align-items: center;

}
/* Логотип */
.logo {
  color: #000000;
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}
.logo-white {
  color: var(--primary-white-color);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  display: inline-block;
  margin-bottom: 20px;
}
.part-logo {
  color: var(--accent-color);
}
/* Скрытые заголовки */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* Блок навигации */
.nav-list {
  display: flex;
}
.nav-list .nav-item + .nav-item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;
  transition: color 250ms var(--time);
  color: var(--primary-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link::after{
  content: '';

  display: block;
  width: 100%;
  height: 4px;

  position: absolute;
  bottom: 0;
  
  background-color: var(--accent-color);
  border-radius: 2px;
  

  transform: scaleX(0);
  transition: transform 250ms var(--time);
}
.link:hover::after{
  transform: scaleX(1);
}

.link-nav {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms var(--time), fill 250ms var(--time);
}
.link-nav-icon{
  margin-right: 10px;
  fill: currentColor;
  transition: color 250ms var(--time), fill 250ms var(--time);
}
.link-nav:focus,
.link-nav:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.link-nav:focus .link-nav-icon,
.link-nav:hover .link-nav-icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .contacts-item + .contacts-item {
  margin-left: 50px;
}


/* Герой */
.hero {
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  max-width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
  url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  color: var(--primary-white-color);
  margin-top: 0px;
  margin-bottom: 30px;
  

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow);

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
}
/* Модальное окно */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);;

  opacity: 1;
  transition: opacity 250ms var(--time);
}
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(0.9);
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--time);
  

  min-width: 528px;
  min-height: 581px;

  background-color: var(--primary-fon-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
 
}
.close-modal{
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 7px;

  background: var(--primary-fon-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  
}
.close-icon-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  fill: #000;
  transition: fill 250ms var(--time);
  
}
.close-icon-box:hover{
  fill: var(--accent-color);
}
/* Оформление формы внутри */

.modal-form{
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 20px;
  width: 448px;
  
}
.form-field{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  
}

.form-field input{
  margin: 0;
  padding: 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--time);
}
.form-field input:hover,
.form-field input:focus{
  border: 1px solid var(--accent-color); 
}

.form-input:focus + .form-icon-box .form-icon,
.form-input:hover + .form-icon-box .form-icon{ 
  fill: var(--accent-color);
}
.form-icon-box{
  position: absolute;
  top: 25px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-right: 12px;
  
}
.form-icon{
  fill: var(--primary-text-color);
  transition: fill 250ms var(--time);
}



.form-field textarea{
  display: block;
  width: 100%;
  padding: 13px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;

  transition: border 250ms var(--time);
}
.form-field textarea:hover,
.form-field textarea:focus {
  border: 1px solid var(--accent-color);
}
.form-field textarea::placeholder{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 0.86;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.field-check{
  display: flex;
  align-items: center;
  
}
.checkbox{
  
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid var(--primary-text-color);
  border-radius: 4px;

  transition: transform 250ms var(--time);
}
.checkbox:checked+.icon {
  transform: scale(1.2);
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url('../images/svg/check-mark.svg');
  background-size: contain;
  background-origin: border-box;
}




.send-btn{
  display: flex;
  padding: 10px 55px 10px 56px;
  min-width: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow);

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}



/* Наши преимущества */
.advantages {
  display: flex;
}
.advantages .advantages-box + .advantages-box {
  margin-left: 30px;
}
.advantage-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-fon-color);
  margin-bottom: 30px;
}

/* Чем мы занимаемся */
.work-list {
  display: flex;
  
}
.work-list .work-item + .work-item {
  margin-left: 30px;
}
.work-box{
  position: relative;

}

.work-box::before{
  display: inline-block;
  content: '';
  width: 100%;
  height: 25%;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  
}


/* Наша команда */
.team {
  display: flex;
}
.team .team-box + .team-box {
  margin-left: 30px;
}
.team-box {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.social-link-list{
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding-left: 32px;
  padding-right: 32px;
}
.social-link{
  display: block;
  background-color: var(--primary-white-color);
  color: #AFB1B8;
  border-radius: 50%;
  transition: background-color 250ms var(--time),color 250ms var(--time);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.social-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  
  
}
.social-link-list .social-link-item + .social-link-item {
  margin-left: 10px;
}
.social-icon {
  fill: currentColor;
}
/* Постоянные клиенты */
.clients-list{
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding-left: 215px;
  padding-right: 215px;
  justify-content: center;
}
.clients-list .clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  display: block;
  background-color: var(--primary-white-color);
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms var(--time),color 250ms var(--time);

}
.clients-link:hover,
.clients-link:focus{
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.clients-box {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.clients-logo {
  fill: currentColor;
}

/* Оформление текста*/
.text-title {
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.white {
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.lighten {
  color: var(--primary-white-color);
  margin: 0;
  position: absolute;
  bottom: 25px;
  right: 90px;
}
.text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.name-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.text-title-name {
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}
.text-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
}
/* Текст модалки*/
.modal-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 0.87;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
}
.form-label{
  display: block;
  margin-top: 0px;
  margin-bottom: 4px;

  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 0.86;
}
.label{
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: transform 250ms var(--time);
}

.form-link{
  color: var(--accent-color);
}
/* Футер */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  color: var(--primary-white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms var(--time);
  
}
.footer-links .address-link:focus,
.footer-links .address-link:hover {
  color: var(--accent-color);
}
.footer-links {
  display: flex;
  flex-direction: column;
}
.contacts-box .address + .address {
  margin-top: 9px;
}
.contacts-box {
  justify-content: flex-start;
}
/* Присоеденяйтесь */
.join{
  min-width: 206px;
  min-height: 80px;
  margin-left: 70px;
}
.social-link-list-join {
  display: flex;
  margin-left: 0;
  margin-right: 0;

}

.social-link-join {
  display: block;
  background-color: rgba(100%, 100%, 100%, 10%);
  color: #fff;
  border-radius: 50%;
  transition: background-color 250ms var(--time),color 250ms var(--time);
}

.social-link-join:hover,
.social-link-join:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-icon-box-join {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

}

.social-link-list-join .social-link-item-join +.social-link-item-join {
  margin-left: 10px;
}

.social-icon-join {
  fill: currentColor;
}
.footer-flex{
  display: flex;
  align-items: baseline;
}
/* Форма подписки на рассылку */
.footer-form{
  margin-left: 93px;
}
.subscribe{
  display: flex;
  
}
.mail-field{
  width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px var(--shadow));
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--primary-white-color);
}
.subscribe-btn {
  display: flex;
  padding: 10px 28px 10px 29px;
  min-width: 200px;
  margin-left: 12px;

  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow);

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
}

.subscribe-btn::after {

  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/svg/send.svg);
  background-size: contain;
}
/* Фильтр страници портфолио */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-btn {
  background-color: var(--secondary-fon-color);
  color: var(--primary-text-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  transition: background-color 250ms var(--time),color 250ms var(--time), box-shadow 250ms var(--time);
  
}
.filter-element:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filter .filter-list + .filter-list {
  margin-left: 8px;
}
.filter-list .filter-btn:focus,
.filter-list .filter-btn:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Стили текста в карточках на странице Портфолио */
.text-title-works {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}
.text-works {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.87;
  margin-top: 0px;
  margin-bottom: 0px;
}
.text-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.text-work-examples {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-white-color);
  position: absolute;
  max-width: 322px;
  max-height: 168px;
  top: 65px;
  left: 25px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--time), opacity  250ms var(--time);
 
}
/* Сброс стилей ссылок на странице Портфолио */
.filter-link {
  text-decoration: none;
  position: relative;
}
/* Сетка работ на странице Портфолио */
.filter-elements {
  display: flex;
  flex-wrap: wrap;
}
.filter-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms var(--time)
  
}
.filter-element:nth-child(3n) {
  margin-right: 0px;
}
.filter-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.work-examples{
  position: relative;
  overflow: hidden;
}
.work-examples::before{
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms var(--time);
}
.filter-link:hover ::before{
  transform: translateY(0);
}
.filter-link:hover .text-work-examples {
  transform: translateY(0);
  opacity: 1;
}


